@model KosSala.ViewModels.KomentariView

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutKorisnik.cshtml";
}
<head>
    <link href="~/Content/PictureUploadProfile/StyleSheet2.css" rel="stylesheet" />
    <link href="~/Content/NovaTema/logo-avatar-navbar.css" rel="stylesheet" />
    <!-- za avatar komentara
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>
<h2>Profile korisnika</h2>
<body>
    @Html.HiddenFor(model => model.idPrimaoca)
    <<div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">

                <div class="second float-right">

                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar-wrapper">
                                @{
                                    foreach (var item in Model.Korinsnici)
                                    {
                                        var base64 = Convert.ToBase64String(item.SlikaKorisnika);
                                        var imgsrc = string.Format("data:image/png;base64,{0}", base64);
                                        <img class="profile-pic" src="@imgsrc" />
                                    }
                                }



                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>


                            </div>


                        </div>
                    </div>

                </div>


                <div class="first">
                    @foreach (var item in Model.Korinsnici)
                    {
                        <h4>@item.Ime @item.Prezime</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Ime")

                            </dt>

                            <dd>
                                @item.Ime
                            </dd>

                            <dt>
                                @Html.DisplayName("Prezime")

                            </dt>

                            <dd>
                                @item.Prezime
                            </dd>

                            <dt>
                                @Html.DisplayName("Korisničko ime :")

                            </dt>

                            <dd>
                                @item.UserName
                            </dd>

                            <dt>
                                @Html.DisplayName("Email")

                            </dt>

                            <dd>
                                @item.Email
                            </dd>
                            <div>
                                <dt>
                                    @Html.DisplayName("Rejting") (@item.Rejting.ToString("f2"))

                                </dt>


                                <dd>


                                    @{
                                        float num = (item.Rejting * 100) / 5;
                                        float broj = (float)Math.Round(num,2);
                                    }
                                    <div class="Zvezde">
                                        <div class="containerdiv  ">
                                            <div>
                                                <img class="imgStar" src="https://image.ibb.co/jpMUXa/stars_blank.png" alt="img">
                                            </div>
                                            <div class="cornerimage" style="width:@broj%;">
                                                <img class="imgStar" src="https://image.ibb.co/caxgdF/stars_full.png" alt="">
                                            </div>
                                        </div>


                                    </div>
                                    @{ if (@TempData.ContainsKey("neocenjen"))
                                        {
                                            <div>

                                                <button type="button" id="btnOceni " class="btn btn-primary fa fa-star" data-toggle="modal" data-target="#Oceni"> Oceni</button> <!--dugme koje okida modal-->
                                            </div>
                                             TempData.Remove("neocenjen");

                                        }
                                        else
                                        {
                                            <div>

                                                <button type="button" id="btnOceni " class="btn btn-primary fa fa-star" data-toggle="modal" data-target="#Oceni" disabled> Oceni</button> <label class="text-danger">Već ste ocenili korisnika</label><!--dugme koje okida modal-->
                                            </div>
                                        }

                                    }


                        </div>

                        </dl>




                        <div>

                            @using (Html.BeginForm("Komentarisi", "Korisnik", FormMethod.Post, new { name="myForm", @class = "form-horizontal", role = "form"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.idPrimaoca)
                                <h4>Komentarisi korisnika</h4>
                                <hr />

                                <div class="panel-body">



                                    @Html.TextAreaFor(m => m.Komentar, new {  id="fname", @class = "komentar form-control" })
                            
                                     <br>
                                    <input type="submit" id="buttonID" class="btn btn-info pull-right " value="Postavi" />
                                    
                                    <div class="clearfix"></div>

                                    <ul class="media-list">
                                    </ul>


                                </div>

                                <div class="panel-body">
                                    <div class="col-md-offset-2 col-md-10">

                                    </div>
                                </div>

                            }
                            <h3>Komentari</h3>
                            @{
                                if (Model.Komentari.Count() == 0)
                                {
                                    <label class="text-danger"> Trenutno nema komentara...</label>
                                }
                            }
                        </div>
                        <hr />
                        <div class="scrollingDiv">


                            @foreach (var it in Model.Komentari)
                            {

                                var base64 = Convert.ToBase64String(it.SlikaPostavljaca);
                                var imgsrc = string.Format("data:image/png;base64,{0}", base64);


                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="@imgsrc" alt="" class="avatar2 img-circle ">

                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="badge badge-pill badge-secondary text-wrap" style="width: 6rem;">@it.Datum_Postavljanja</small>
                                        </span>
                                        <strong class="text-secondary">@it.ImePostavljaca</strong>
                                        <p>
                                            @it.Komentar

                                        </p>
                                    </div>

                                </li>
                                <hr />
                            }
                        </div>


                    }



                   
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="Oceni" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Oceni korisnika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">




                        @{ //POP UP part with rating stars
                        }
                        @using (Html.BeginForm("Oceni", "Korisnik", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @Html.HiddenFor(model => model.idPrimaoca)
                            <head>
                                <link rel="stylesheet" href="~/Content/stars.css" type="text/css" />
                            </head>


                            <form class="forma">
                                <div class="rating2">
                                    <fieldset class="ratingStars">
                                        @Html.RadioButtonFor(m => m.valueRadio, 5, new { id = "star5" })
                                        <label for="star5"> </label>

                                        @Html.RadioButtonFor(m => m.valueRadio, 4, new { id = "star4" })
                                        <label for="star4"> </label>

                                        @Html.RadioButtonFor(m => m.valueRadio, 3, new { id = "star3" })
                                        <label for="star3"> </label>

                                        @Html.RadioButtonFor(m => m.valueRadio, 2, new { id = "star2" })
                                        <label for="star2"> </label>

                                        @Html.RadioButtonFor(m => m.valueRadio, 1, new { id = "star1" })
                                        <label for="star1"> </label>

                                    </fieldset>
                                </div>

                                
                                <div>
                                    <input type="submit" class="btn btn-default " value="Oceni" />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float:right;"  >Zatvori</button>
                                </div>
                                    

                            </form>
                           
                        }
                    </div>
                    
                </div>
            </div>
</body>
@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/NovaTema/bootstrapNOVATEMA.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- funkcija za modal-->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })


         $(function () {
    var $btn = $(":submit[id$=btnOceni]");
    
    // check on page load
    checkChecked($chk);
    $chk.click(function () {
        checkChecked($chk);
    });
    function checkChecked(chkBox) {
        if (@TempData.ContainsKey("neocenjen"))) {
            $btn.removeAttr('disabled');
        }
        else {
            $btn.attr('disabled', 'disabled')
        }
            }

    }
    </script>
}
<style>
    .containerdiv {
            border: 0;
          float: left;
          position: relative;
          width: 150px;
          height:15px;
          
} 
    .cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 } 
 .imgStar{
   max-width: 150px;

 }
    .Zvezde {
        padding-bottom: 40px;
        padding-top: 10px;
    }
    .first {
        display: inline;
        width: 50%;
        height: 100%;
    }

    .second {
        display: inline;
        height: 100%;
        width: 50%;
    }

    .avatar2 {
        vertical-align: middle;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid black 1px;
    }

    .media-body {
        margin-left: 20px;
        margin-top: 5px;
    }

    div.scrollingDiv {
        max-height: 650px;
        width: 100%;
        FLOAT: left;
        overflow-y: scroll;
    }

    .komentar {
        width: 100%;
        height: 100px;
    }
    .ratingStars {
    float:left;
    border:none;
}
.ratingStars:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
    .ratingStars:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 500%;
        line-height: 1.6;
        color: #ddd;
    }
.ratingStars:not(:checked) > label:before {
    content:'★ ';
    font-size:60px
}
.ratingStars > input:checked ~ label {
    color: #f70;
}
.ratingStars:not(:checked) > label:hover, .ratingStars:not(:checked) > label:hover ~ label {
    color: gold;
}
.ratingStars > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .ratingStars > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.ratingStars > label:active {
    position:relative;
}
</style>
<script>
  $(document).ready(function(){
    $('#buttonID').attr('disabled','disabled');
    
    $('#fname').change(function() {
    if($(this).val() != '') {
        $('#buttonID').removeAttr('disabled');
    }
    else {
        $('#buttonID').attr('disabled','disabled');
    }
});
});
</script>







