@model IEnumerable<KosSala.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKorisnik.cshtml";
}

<h2>Svi prijavljeni korisnici </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rejting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Komentari)
        </th>

        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prezime)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Opis)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rejting)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Komentari)
    </td>
    
    <td>
        @Html.ActionLink("Oceni korisnika", "Edit", new { id = item.Id }) |
        
        @Html.ActionLink("DodKom", "DodajKom","ApplicationUser", new {id=item.Id })
    </td>
</tr>
}

</table>
